.btn {
  -webkit-appearance: none;
  outline: none;
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 0.25rem;
  margin: 0.25rem;
  font-size: 1.25rem;
  color: #fff;
  text-transform: uppercase;
  transition: opacity 0.2s ease-in;

  &:not([disabled]) {
    cursor: none;
  }

  &:not([disabled]) {
    cursor: pointer;
    &:hover,
    &:focus {
      opacity: 0.9;
    }
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.25;
  }

  &--default {
    background-color: #1b6bce;
  }

  &--danger {
    background-color: #bb2c22;
  }
}
