.counter-actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 20rem;
  margin: 0 auto;
	
	&__action {
    flex: 1 1 auto;
  }
	
  &__action--decrement,
  &__action--increment {
    font-size: 1.5rem;
  }

  &__action--reset {
    flex-basis: 100%;
  }
}